
body{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background-color: $fondo;
}

//header
header{
    margin: 0 auto;
    width: 90%;
}
.logo{
    font-family: $fuente-titulos;
    font-size: 40px;
    font-weight: 800;
}



































//footer