@mixin botonrellenobanner{
    background-color:#EBECE9;
    color: $burdeo-oscuro;
    font-family: $fuente-parrafo;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    padding: 8px 20px;
    border: none;
}

@mixin boton-borde-banner {
  background-color: transparent;
  color: #EBECE9;
  font-family: $fuente-parrafo;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  padding: 10px 28px;
  border: 2px solid #EBECE9;
  text-decoration: none;
}

@mixin btn-principal {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: $color-fuente-banner;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 10px 28px;
  background-color: $color-boton;
  border-radius: 4px;
  transition: color 0.3s ease;
  box-shadow: 0 0 20px rgba($color-boton, 0);
  z-index: 0; 


  span, &>* {
    position: relative;
    z-index: 2;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: $hover-boton;
    border-radius: 50%;
    z-index: 1;
  }

  &::before {
    left: -20px;
    transform: translate(-50%, -50%);
  }

  &::after {
    right: -20px;
    transform: translate(50%, -50%);
  }

  &:hover {
    color: #fff;
     box-shadow: 0 0 20px rgba($color-boton, 0.4);

    &::before {
      animation: criss-cross-left 0.8s both alternate;
      background-color: $hover-boton;
    }

    &::after {
      animation: criss-cross-right 0.8s both alternate;
      background-color: $hover-boton;
    }
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
    width: 20px;
    height: 20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-right {
  0% {
    right: -20px;
    width: 20px;
    height: 20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}

@mixin btn-gris {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: $burdeo-oscuro;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 10px 28px;
  background-color: $boton-gris;
  border-radius: 4px;
  transition: color 0.3s ease;
  z-index: 0; 


  span, &>* {
    position: relative;
    z-index: 2;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: $burdeo-oscuro;
    border-radius: 50%;
    z-index: 1;
  }

  &::before {
    left: -20px;
    transform: translate(-50%, -50%);
  }

  &::after {
    right: -20px;
    transform: translate(50%, -50%);
  }

  &:hover {
    color: $color-fuente-banner;

    &::before {
      animation: criss-cross-left 0.8s both alternate;
      background-color: $burdeo-oscuro;
    }

    &::after {
      animation: criss-cross-right 0.8s both alternate;
      background-color: $burdeo-oscuro;
    }
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
    width: 20px;
    height: 20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-right {
  0% {
    right: -20px;
    width: 20px;
    height: 20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}



@mixin tags{
    padding: 5px 10px;
    border-radius: 10px;
    background: $color-tags; // ajusta al color de tu paleta
    color: #000000;       // ajusta al color de tu paleta
    font-size: 16px;
    font-family: $fuente-parrafo;
    font-weight: 400;
}