//Fuentes
$fuente-titulos: "Noto Serif", serif;
$fuente-parrafo: "DM Sans", sans-serif;

//Colores
$burdeo-oscuro:#3D1520;
$color-texto-general:#0F0508;
$color-boton:#7B2D3E ;
$hover-boton:#B5464F;
$color-tags:#E1C8BA;
$fondo:#FFFBF9;
$burdeo-cinta:#5C1F2E;
$burdeo-banner:#7B2D3E;
$color-fuente-banner: #ffffff;
$boton-gris: #EBECE9;

//Separadores
$distinto-contenido: 9.375rem;
$mismo-contenido: 3.75rem;
$titulo-contenido: 2.625rem;
$sepador-navbar: 6.25rem;
$separador-footer: 12.5rem;

body{
    h1{
        font-family: $fuente-titulos;
        font-size: 3rem;
        font-weight: 800;
        color: $color-texto-general;
    }
    h2{
        font-family: $fuente-titulos;
        font-size: 2rem;
        font-weight: 800;
        color: $color-texto-general;
    }
    h3{
        font-family: $fuente-titulos;
        font-size: 1.5rem;
        font-weight: 700;
        color: $color-texto-general;
    }
    h4{
        font-family: $fuente-titulos;
        font-size: 1.25rem;
        font-weight: 600;
        color: $color-texto-general;
    }
    p{
        font-family: $fuente-parrafo;
        font-size: 1.125rem;
        color: $color-texto-general;
    }

}